

<h2>Ticket List</h2>

<input type="text" placeholder="Search for Event" [(ngModel)]="searchTerm">
<div>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Price</th>
      <th>Is Sold</th>
      <th>Event</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ticket of filteredTickets">
      <td>{{ ticket.id }}</td>
      <td>{{ ticket.price }}</td>
      <td>{{ ticket.isSold ? 'Yes' : 'No' }}</td>
      <td>{{ ticket.event.eventName }}</td>
      <td>
        <button class="details-button" [routerLink]="['/tickets', ticket.id]">Details</button>
        <button class="delete-button" (click)="deleteTicket(ticket.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>





