<!-- event-detail.component.html -->
<div *ngIf="event" class="event-details">
  <h2>{{ event.eventName }} Details</h2>
  <ul>
    <li><strong>ID:</strong> {{ event.id }}</li>
    <li><strong>Name der Veranstaltung:</strong> {{ event.eventName }}</li>
    <li><strong>Datum:</strong> {{ event.date | date: 'yyyy-MM-dd' }}</li>
    <li><strong>Anzahl der Tickets:</strong> {{freeTicketsAmount}}/{{ event.ticketAmount }}</li>
  </ul>

  <div class="ticket-purchase">
    <label for="ticketAmount">Anzahl der Tickets:</label>
    <input [(ngModel)]="ticketAmount" (ngModelChange)="onTicketAmountChange($event)" type="number" max="{{freeTicketsAmount}}" min="0"/>

    <button (click)="buyTickets()">Tickets kaufen</button>
  </div>

  <button routerLink="/events" class="back-button">Zurück zu den Events</button>
</div>
